<ion-header>
    <ion-navbar>
        <ion-title>Creat a Chat</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label floating>Chat name:</ion-label>
        <ion-input (keyup)= "setChatName($event)" type="text"></ion-input>
        
     </ion-item>

     <ion-item>
        <ion-label floating>Add Members:</ion-label>
        <ion-input [(ngModel)]="memberName" type="text"></ion-input>
     </ion-item>
     <ion-item *ngIf="errorMessage">{{errorMessage}}</ion-item>

     <ion-item *ngIf="searchResult">
         {{searchResult.username}}
         <ion-buttons end>
             <button (click)="addMember()" ion-button color="secondary" clear>Add</button>
         </ion-buttons>
     </ion-item>

     <button (click)="search()" ion-button color="secondary" clear>Search</button>
    <ion-list>
        <div padding>People in this chat:</div>
        <ion-item *ngFor="let thisMember of members; let i = index" padding>
            {{thisMember.username}}
            <ion-buttons end>
                <button [disabled]="i == 0" (click)="removeUser(thisMember)" color="danger" ion-button clear>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
    </ion-list>
    <button (click)="displayLoadingAndSubmitData()" [disabled]="isDisabled" color="secondary" ion-button>Create Chat</button>
</ion-content>